<div class="container">
  <h2>Restaurar contrase침a</h2>
  
  <form action="/changepassword" method="post">
    <div>
      <label for="">Contrase침a</label>
      <input type="password" name="password1" id="password1" required />
    </div>
  <form action="" method="post">
    <div>
      <label for="">Confirmar contrase침a</label>
      <input type="password" name="password2" id="password2" required />
    </div>
    <input type="submit" value="Enviar" />
  </form>

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <a href="/login">Iniciar sesi칩n</a>
</div>