<form id="form" class="m-3 col-3">
  <label>Email</label>
  <input class="form-control" id="user" name="user" type="text">
  <label>Message</label>
  <textarea class="form-control" id="message" name="message" type="text"> </textarea>
  <input class="btn btn-primary mt-2" id="btn" type="submit" value="Enviar">
</form>

<h4>Mensajes de chat</h4>
<div id="messages">
 
</div>