<div class="container mt-5 ">
  <p>Título: {{title}}</p>
  <p>Descripción: {{description}}</p>
  <p>Precio: {{price}}</p>
  <form action="/api/carts/64e57db0ea9d0b24d94dd3e0/products/{{_id}}" method="post">
    <input type="submit" value="Comprar">
  </form>
</div>