{{!-- Formulario de login --}}

<h2>Login</h2>

<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
    </div>
    <button type="submit">Login</button>
</form>

<p>¿No tienes cuenta?</p>
<a href="/register">Regístrate</a>