<div class="container">
  <h2>Restaurar contraseña</h2>
  <h4>Le enviaremos un mail para recuperar su contraseña</h4>
  <form action="/resetpassword" method="post">
    <div>
      <label for="">Email</label>
      <input type="text" name="email" id="email" required />
    </div>
    <input type="submit" value="Enviar" />
  </form>

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <a href="/login">Iniciar sesión</a>
</div>