<div class="container">
  <h2>Restaurar contrase침a</h2>
  <form action="" method="post">
    <div>
      <label for="">Email</label>
      <input type="text" name="email" id="email" required />
    </div>
    <div>
      <label for="">Nueva contrase침a</label>
      <input type="password" name="password" id="password" required />
    </div>
    <input type="submit" value="Cambiar contrase침a" />
  </form>

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <a href="/login">Iniciar sesi칩n</a>
</div>