
// Ticket de compra 
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ticket de compra</h5>
        <p class="card-text">Gracias por su compra</p>
        <p class="card-text">Total: ${{ticket.total}}</p>
        <p class="card-text">Fecha: {{ticket.fecha}}</p>
        <p class="card-text">Hora: {{ticket.hora}}</p>
        <p class="card-text">Numero de ticket: {{ticket.code}}</p>
    </div>