<form id="form">
  <label>Email</label>
  <input id="user" name="user" type="text">
  <label>Message</label>
  <input id="message" name="message" type="text">
  <input id="btn" type="submit" value="Enviar">
</form>

<h4>Mensajes de chat</h4>
<div id="messages">
 
</div>