<div class="container mt-5 ">
  <p>Título: {{title}}</p>
  <p>Descripción: {{description}}</p>
  <p>Precio: {{price}}</p>
  <form action="/api/carts/64a24abde5a2d25c655cf1b6/products/{{_id}}" method="post">
    <input type="submit" value="Comprar">
  </form>
</div>